@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

a,
button {
  cursor: pointer; }

body {
  font-family: "Lato", sans-serif; }

.container {
  width: 1140px;
  margin: 0 auto; }

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px; }

.header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
  background-color: #ffffff; }
  .header-left {
    display: flex;
    align-items: center; }
  .header-right {
    display: flex;
    align-items: center; }

.logo {
  display: flex;
  align-items: center;
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none; }
  .logo-d {
    color: #f16d7f;
    font-weight: 400;
    letter-spacing: 0.68px; }
  .logo-img {
    margin-right: 13px; }

.form {
  display: flex;
  align-items: center;
  margin-left: 37px; }

.header-cart-img {
  transition: transform 0.3s; }
  .header-cart-img:hover {
    transform: scale(1.2) rotate(360deg); }

.button {
  display: inline-block;
  height: 38px;
  line-height: 38px;
  padding-left: 19px;
  padding-right: 19px;
  background-color: #f16d7f;
  border: 1px solid #ef5b70;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.38px;
  text-decoration: none;
  transition: all 0.3s; }
  .button:hover {
    border: 1px solid #f16d7f;
    background-color: #ffffff;
    color: #f16d7f; }

.navigation {
  background-color: #ffffff; }

.menu {
  display: flex;
  list-style-type: none;
  justify-content: center; }
  .menu-link {
    padding: 15px;
    display: block;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s; }
    .menu-link:hover {
      color: #f16d7f; }

.promo {
  background-color: #e8e8e8; }
  .promo-content {
    height: 613px;
    background: url(../img/promo-back.jpg) 0 -51px;
    display: flex;
    align-items: center; }
  .promo-p {
    color: #222222;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 33px; }
  .promo-h3 {
    color: #222222;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 45px;
    margin-bottom: 12px; }
  .promo-text {
    border-left: 12px solid #f16d7f;
    padding-left: 12px; }

.pink {
  color: #f16d7f; }

.block-content {
  display: flex;
  justify-content: space-between;
  margin-top: 98px;
  margin-bottom: 100px; }

.block-man {
  height: 542px;
  background-image: url(../img/block/for_man.png);
  border: 1px; }

.block-accesories {
  margin-top: 20px;
  height: 261px;
  background: #dadad2 url(../img/block/accesories.png) no-repeat right; }

.block-women {
  height: 261px;
  background-image: url(../img/block/women.png); }

.block-kids {
  margin-top: 20px;
  height: 542px;
  background-image: url(../img/block/for_kids.png); }

.block-left {
  width: 560px; }

.block-right {
  width: 560px; }

.block-text {
  display: inline-block;
  margin-top: 26px;
  padding: 16px 20px 16px 19px;
  text-transform: uppercase;
  background-color: #ffffff; }

.block-p {
  color: #222222;
  font-size: 18px;
  font-weight: 400; }

.block-h3 {
  color: #f16d7f;
  font-size: 30px;
  letter-spacing: 0.75px; }

.products-h2 {
  color: #222222;
  font-size: 30px;
  font-weight: 700; }

.products-p {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400; }

.products-title {
  text-align: center;
  margin-bottom: 63px; }

.product-title {
  display: block;
  padding-top: 18px;
  padding-left: 14px;
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s; }
  .product-title:hover {
    color: #f16d7f; }

.product-price {
  display: block;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 14px;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none; }

.products-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 19px; }

.product a {
  display: block; }

.product {
  margin-bottom: 43px;
  transition: transform 0.3s; }

.product:hover {
  transform: scale(1.2);
  z-index: 2;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16); }

.products-button {
  text-align: center;
  margin-bottom: 113px; }

.promo2-content {
  display: flex;
  margin-bottom: 97px; }

.promo2-p {
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase; }

.promo2-h3 {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase; }

.promo2-title {
  margin-top: 146px;
  margin-left: 39px; }

.promo2-left {
  width: 767px;
  height: 529px;
  background-image: url(../img/promo2/promo2-bg.png); }

.promo2-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 373px;
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #222224; }

.promo2-item-h4 {
  margin-bottom: 17px;
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700; }

.promo2-item-p {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300; }

.promo2-item {
  display: flex;
  justify-content: space-between;
  margin-left: 36px;
  margin-right: 43px; }

.promo2-item-left {
  margin-right: 33px; }

.header-cart {
  position: relative;
  margin-right: 26px;
  padding: 15px 0; }
  .header-cart-drop {
    z-index: 2;
    display: none;
    position: absolute;
    top: 100%;
    left: -20px;
    width: 222px;
    padding: 20px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    background-color: #ffffff; }
  .header-cart-total {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header-cart-checkout {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #f16d7f;
    color: #f16d7f;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 10px;
    transition: all 0.3s; }
    .header-cart-checkout:hover {
      background-color: #f16d7f;
      color: #ffffff; }
  .header-cart-go {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 1px solid #eaeaea;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 10px;
    transition: all 0.3s; }
    .header-cart-go:hover {
      border: 1px solid #4a4a4a; }
  .header-cart:after {
    display: none;
    content: "";
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    border-top: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    transform: rotate(-45deg);
    position: absolute;
    top: 100%;
    left: 10px;
    margin-top: -7px; }

.header-cart:hover .header-cart-drop,
.header-cart:hover:after {
  display: block; }

.browse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 57px;
  height: 38px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background: #cdcdcc linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  color: #222222;
  font-size: 14px;
  font-weight: 300; }

.browse-box {
  position: relative; }

.browse-box:hover .drop {
  display: flex;
  z-index: 9000;
  top: 100%; }

.browse-box .drop .drop-h3:not(:first-of-type) {
  margin-top: 20px; }

.search {
  display: flex;
  align-items: center;
  height: 38px;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #e6e6e6;
  border-left: 1px solid #ffffff;
  background-color: #ffffff; }

.search-button {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 11px;
  padding-right: 11px;
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  border-left: 1px solid #ffffff;
  background-color: #ffffff; }

.fa {
  font-size: 14px;
  font-weight: 400; }

.subscribe {
  position: relative;
  background-size: cover;
  background: url(../img/subscribe/subscribe-bg.png) center bottom; }

.subscribe::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #ffffff;
  z-index: 0; }

.subscribe-content {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 438px;
  z-index: 100; }

.subscribe-left {
  width: 50%; }

.subscribe-right {
  width: 50%;
  text-align: center; }

.subscribe-item {
  display: flex;
  justify-content: space-between; }

.subscribe-item-face {
  margin-right: 28px; }

.subscribe-item-text-p1 {
  margin-bottom: 19px;
  color: #222224;
  font-size: 16px;
  font-style: italic; }

.subscribe-item-text-p2 {
  font-size: 16px;
  font-weight: 700; }

.subscribe-item-text-p3 {
  color: #222224;
  font-size: 12px;
  font-weight: 300; }

.subscribe-h3 {
  color: #222224;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px; }

.subscribe-p {
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase; }

.subscribe-input {
  height: 52px;
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1;
  border: 0;
  opacity: 0.67;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  padding-left: 28px;
  padding-right: 28px; }

.subscribe-button {
  height: 52px;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  padding-left: 21px;
  padding-right: 20px;
  border: 1px solid transparent;
  transition: all 0.3s;
  cursor: pointer; }
  .subscribe-button:hover {
    border: 1px solid #f16d7f;
    color: #f16d7f;
    background-color: #ffffff; }

.subscribe-form {
  display: flex;
  justify-content: center;
  margin-top: 32px; }

.footer-top {
  margin-top: 109px;
  margin-bottom: 89px; }

.footer-bottom {
  background-color: #e6e6e6; }

.footer-bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  margin-left: 8px;
  color: #b2b2b2;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s; }
  .social:hover, .social.active {
    background-color: #f16d7f;
    color: #f7f7f8;
    font-size: 16px;
    font-weight: 400; }

.socials {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px; }

.copyright {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400; }

.footer-about-p {
  margin-top: 29px;
  color: #898989;
  font-size: 14px;
  font-weight: 300; }

.footer-information-h3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase; }

.footer-information-ul {
  list-style-type: none;
  margin-top: 45px; }

.footer-information-ul li {
  margin-bottom: 20px; }

.footer-information-link {
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s; }
  .footer-information-link:hover {
    color: #f16d7f; }

.footer-top-content {
  display: flex;
  justify-content: space-between;
  align-content: center; }

.footer-about {
  width: 35%; }

.footer-information {
  display: flex;
  justify-content: space-between;
  width: 60%; }

.subscribe-pagination {
  width: 38px;
  height: 8px;
  background-color: #d6d6d6;
  margin-right: 13px; }

.subscribe-pagination:hover,
.subscribe-pagination.active {
  background-color: #f16d7f; }

.subscribe-paginations {
  display: flex;
  margin-left: 110px;
  margin-top: 41px; }

.title {
  background-color: #f8f3f4; }

.title-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 148px; }

.breadcrumbs {
  display: flex;
  justify-content: space-between;
  color: #636363; }

.title-h1 {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase; }

.breadcrumb-link {
  color: #636363;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  margin-left: 5px;
  margin-right: 5px;
  transition: color 0.3s; }
  .breadcrumb-link:hover {
    color: #f16d7f; }

.breadcrumb-link.active {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700; }

.main-content {
  display: flex;
  justify-content: space-between;
  padding-top: 60px; }

.sidebar {
  order: -1;
  width: 25%; }

.category {
  list-style-type: none; }

.category ul {
  display: none;
  list-style-type: none;
  padding: 20px 0; }

.category > li {
  margin-bottom: 18px; }

.category > li:hover > ul {
  display: block; }

.category > li > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 37px;
  padding-left: 11px;
  padding-right: 11px;
  text-decoration: none;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-left: 5px solid #ef5b70;
  border-bottom: 1px solid #ebebeb; }

.category > li:hover > a,
.category > li.category-active > a {
  color: #ef5b70; }

.category ul > li > a {
  display: block;
  height: 37px;
  line-height: 37px;
  padding-left: 16px;
  padding-right: 11px;
  text-decoration: none;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400; }

.category ul > li:hover > a {
  color: #ef5b70; }

.content {
  width: 75%;
  padding-left: 50px; }

.product-img {
  position: relative; }

.product-cart {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -62.5px; }

.product-cart:hover {
  box-shadow: 0 0 5px #fff; }

.product-cart-a {
  padding: 10px 12px 10px 40px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  border: 2px solid #ffffff;
  background: url(../img/product-cart.svg) no-repeat 10px center;
  text-decoration: none; }

.single-product-cart-a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer; }

.product-image {
  position: relative; }

.product-img {
  transition: filter 0.5s; }

.product:hover .product-img {
  filter: brightness(30%); }

.product:hover .product-cart {
  display: block; }

.products-pagination-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 110px; }

.button2 {
  padding: 13px 45px 12px 45px;
  color: #ef5b70;
  font-size: 16px;
  font-weight: bold;
  border-radius: 3px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  text-decoration: none;
  transition: all 0.3s; }
  .button2:hover {
    color: #ffffff;
    background-color: #f16d7f; }

.products-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background-color: #ffffff; }

.products-pagination-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #c4c4c4;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s; }
  .products-pagination-link:hover {
    color: #ef5b70; }

.product-sort-bottom {
  background-color: #f3f3f3;
  height: 50px;
  margin-top: 41px;
  padding-left: 10px;
  display: flex;
  align-items: center; }

.products-sort {
  margin-bottom: 48px; }

.product-sort-label {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  padding-left: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.product-sort-select {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #f3f3f3;
  border-left-color: #ebebeb;
  background-color: #ffffff;
  padding: 0 10px;
  height: 30px;
  margin-left: 10px; }

.product-sort-top {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.trending {
  width: 25%; }

.products-sort-h2 {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px; }

.trending-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap; }

.size-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap; }

.size-label {
  width: 25%;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase; }

.trending-link {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid #dfdfdf;
  transition: color 0.3s; }
  .trending-link:hover {
    color: #f16d7f; }

.trending-link:nth-child(3n+1) {
  padding-left: 0; }

.trending-link:nth-child(3n) {
  border-right: 0; }

.size {
  width: 32%; }

.price {
  width: 32%; }

.price-range {
  display: none; }

.price-output {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400; }

.price-range-slider {
  position: relative;
  border-radius: 3px;
  background-color: #f0f0f0;
  height: 6px; }

.price-output-box {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.price-range-slider-header {
  background-color: #f16d7f;
  height: 6px;
  margin-right: 107px;
  margin-left: 31px; }

.price-range-slider-handle {
  position: absolute;
  background-color: #f16d7f;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  top: -4px;
  left: 24px; }

.price-range-slider-handle:last-child {
  left: 147px; }

.advantages {
  background-color: #222224; }

.advantages-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 89px;
  padding-bottom: 115px; }

.advantage {
  text-align: center; }

.advantage-article-h2 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 21px; }

.advantage-article-p {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  padding: 0 30px; }

.advantage-article {
  display: flex;
  flex-direction: column; }

.advantage-image {
  height: 40px; }

.menu-active {
  position: relative; }

.menu-active::after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #ef5b70; }

.details-link {
  display: block;
  height: 37px;
  line-height: 37px;
  padding-left: 16px;
  padding-right: 11px;
  text-decoration: none;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  transition: color 0.3s; }
  .details-link:hover {
    color: #f16d7f; }

.details-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 37px;
  padding-left: 11px;
  padding-right: 11px;
  text-decoration: none;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border-left: 5px solid #ef5b70;
  border-bottom: 1px solid #ebebeb; }

.details-summary:hover {
  color: #f16d7f; }

.drop {
  position: absolute;
  top: 40px;
  left: -10px;
  display: none;
  padding: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #e8e8e8; }

.drop:after {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  border-top: 1px solid #e8e8e8;
  border-right: 1px solid #e8e8e8;
  transform: rotate(-45deg);
  position: absolute;
  top: -7px;
  left: 40px; }

.drop-flex {
  width: 235px;
  margin-right: 45px; }

.drop-flex:last-of-type {
  margin-right: 0; }

.drop-ul {
  list-style-type: none; }

.drop-h3 {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 16px;
  padding-bottom: 8px;
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.35px; }

.drop-link {
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.35px;
  text-decoration: none;
  transition: color 0.3s; }
  .drop-link:hover {
    color: #f16d7f; }

.drop-h3-m {
  margin-top: 15px; }

.drop-img {
  margin-left: -20px;
  margin-top: 20px; }

.menu-list {
  position: relative; }

.menu-list:hover .drop {
  display: flex; }

.menu-list:hover .drop-right {
  display: flex; }

.drop-right {
  position: absolute;
  top: 40px;
  left: -610px;
  display: none;
  padding: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #e8e8e8; }
  .drop-right:after {
    content: "";
    width: 14px;
    height: 14px;
    background-color: #ffffff;
    border-top: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    transform: rotate(-45deg);
    position: absolute;
    top: -7px;
    left: 640px; }

.details {
  margin-bottom: 18px; }

.details summary::-webkit-details-marker {
  display: none; }

.details summary::after {
  content: "▶";
  padding-right: 0.5em; }

.details[open] > summary::after {
  content: "▼"; }

.details[open] > summary {
  color: #f16d7f; }

.single-product-image {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  background-color: #f7f7f7;
  text-align: center;
  height: 777px; }

.single-product-box {
  position: relative;
  z-index: 1;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  margin-top: -85px;
  text-align: center; }

.collection {
  position: relative;
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 70px;
  padding-bottom: 14px;
  margin-bottom: 17px; }
  .collection::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -75px;
    width: 150px;
    height: 1px;
    background-color: #eaeaea;
    z-index: 1; }
  .collection::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -32.5px;
    margin-top: -1px;
    width: 65px;
    height: 3px;
    background-color: #ef5b70;
    z-index: 2; }

.single-product-article-h1 {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 67px; }

.single-product-article-p {
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300; }

.single-product-article-brend {
  display: flex;
  justify-content: center;
  margin-top: 28px;
  margin-bottom: 37px; }

.single-product-article-brend {
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 44px; }
  .single-product-article-brend-a {
    color: #2f2f2f;
    margin-left: 5px;
    text-decoration: none;
    transition: color 0.3s; }
    .single-product-article-brend-a:hover {
      color: #f16d7f; }

.single-product-article-price {
  text-align: center;
  color: #ef5b70;
  font-size: 24px;
  font-weight: 700; }

.single-product-article {
  border-bottom: 1px solid #eaeaea;
  width: 642px;
  padding-bottom: 43px;
  margin: 0 auto 63px; }

.single-product-cart {
  width: 538px;
  margin: 107px auto 122px; }

.single-product-cart-img {
  margin-right: 20px; }

.single-product-cart-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px; }

.single-product-cart-top-h2 {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 16px; }

.single-product-cart-select {
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding: 12px 15px;
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400; }

.single-product-cart-box {
  display: flex;
  flex-direction: column;
  width: 144px; }

.likealso-h2 {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 120px;
  margin-bottom: 70px;
  text-align: center; }

.likealso-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.single-product-article-brend-p {
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase; }
  .single-product-article-brend-p:last-of-type {
    margin-left: 44px; }

.cart {
  margin-top: 90px;
  margin-bottom: 44px; }
  .cart-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    padding-top: 25px;
    padding-bottom: 25px; }
  .cart-column {
    width: 11.1111111111%;
    color: #656565;
    font-size: 13px;
    font-weight: 400;
    text-align: center; }
    .cart-column-title {
      color: #222222;
      font-weight: 700;
      text-transform: uppercase; }
    .cart-column-two {
      width: 44.4444444444%;
      text-align: left;
      display: flex;
      align-items: center; }
  .cart-image {
    width: 100px;
    margin-right: 20px; }
    .cart-image-img {
      width: 100%; }
  .cart-link {
    display: block;
    margin-bottom: 30px;
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    transition: color 0.3s; }
    .cart-link:hover {
      color: #f16d7f; }
  .cart-text {
    color: #6f6e6e;
    font-size: 13px;
    font-weight: 300; }
    .cart-text-span {
      color: #575757;
      font-weight: 400; }
  .cart-input {
    color: #656565;
    padding: 5px;
    text-align: center; }
  .cart-delete {
    color: #c0c0c0;
    font-size: 16px;
    font-weight: 400; }
  .cart-button {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px; }
    .cart-button-link {
      padding: 20px 40px;
      color: #4a4a4a;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: none;
      border: 1px solid #eaeaea;
      transition: all 0.3s; }
      .cart-button-link:hover {
        color: #f16d7f;
        border: 1px solid #f16d7f; }

.order {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px; }
  .order-box {
    width: 355px; }
    .order-box-bg {
      padding: 40px;
      background-color: #f5f3f3;
      text-align: right; }
  .order-h2 {
    margin-bottom: 22px;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase; }
  .order-p {
    margin-bottom: 20px;
    color: #000000;
    font-size: 14px;
    font-weight: 300; }
  .order-p2 {
    margin-bottom: 40px;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase; }
    .order-p2-span {
      color: #f16d7f; }
  .order-select {
    width: 355px;
    margin-bottom: 20px;
    padding: 16px 18px;
    border: 1px solid #eaeaea;
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300; }
  .order-input {
    width: 317px;
    margin-bottom: 20px;
    padding: 16px 18px;
    border: 1px solid #eaeaea;
    color: #b1b1b1;
    font-size: 13px;
    font-weight: 300; }
  .order-button {
    padding: 12px 15px;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    cursor: pointer;
    transition: all 0.3s; }
    .order-button:hover {
      color: #f16d7f;
      border: 1px solid #f16d7f; }
  .order-button2 {
    width: 100%;
    padding: 15px 30px;
    background-color: #f16d7f;
    border: 1px solid #f16d7f;
    cursor: pointer;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.3s; }
    .order-button2:hover {
      background-color: #ffffff;
      color: #f16d7f; }

.header-cart-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px; }
  .header-cart-product-column {
    color: #656565;
    font-size: 13px;
    font-weight: 400;
    text-align: center; }
  .header-cart-product-img {
    width: 72px; }
  .header-cart-product-link {
    display: block;
    text-decoration: none;
    color: #222222;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
    transition: color 0.3s; }
    .header-cart-product-link:hover {
      color: #f16d7f; }

.rating {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; }
  .rating-star {
    color: #e4af48;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase; }

.check {
  margin-top: 90px; }

.btn {
  display: inline-block;
  padding: 20px 55px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s; }
  .btn:hover {
    background-color: #f16d7f;
    color: #ffffff;
    border: 1px solid transparent; }

.link {
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s; }
  .link:hover {
    color: #f16d7f; }

.star {
  color: #ff0d0d; }

.checkout {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e8e8e8; }
  .checkout__summary::-webkit-details-marker {
    display: none; }
  .checkout__summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.3s; }
    .checkout__summary:hover {
      color: #f16d7f; }
  .checkout__flex {
    display: flex; }
  .checkout__column {
    padding: 20px 35px;
    width: 40%; }
  .checkout__h2 {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px; }
    .checkout__h2_margin {
      margin-top: 36px; }
  .checkout__p {
    color: #b3b2b2;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 30px; }
    .checkout__p_margin {
      margin-bottom: 15px; }
    .checkout__p_color {
      color: #ff0d0d; }
  .checkout__link {
    margin-left: 20px; }
  .checkout__label {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #222222;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.3s; }
    .checkout__label:hover {
      color: #f16d7f; }
    .checkout__label_noflex {
      display: block; }
  .checkout__radio {
    margin-right: 15px; }
  .checkout__input {
    width: 100%;
    height: 45px;
    padding: 0 20px;
    margin-top: 15px;
    border: 1px solid #eaeaea;
    background-color: #ffffff; }

.error-msg {
  padding: 30px 20px;
  background-color: red;
  color: white;
  position: relative; }

.error-block {
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  z-index: 10000; }

.close-btn {
  font-size: 1.5em;
  top: -40px;
  position: absolute;
  right: 0;
  background: none;
  border: none;
  color: white;
  font-weight: bold; }

/*# sourceMappingURL=style.css.map */
